<% include partials/header.ejs %>
    <div class="container main">
    	<h3 class="center">Add Story</h3>
    	<div class="row">
    		<form class="col s8 offset-s2" action="">
		        <div class="input-field">
		          <input type="text" class="validate">
		          <label for="title">Title: </label>
		        </div>
		        <div class="input-field">
				    <select>
				      <option value="1">Public</option>
				      <option value="2">Private</option>
				    </select>
				    <label>Status: </label>
				</div>
				<p>
			      <input type="checkbox" id="comments" />
			      <label for="comments">Allow Comments</label>
			    </p>
			     <div class="input-field">
		          <textarea id="textarea1" class="materialize-textarea"></textarea>
		          <label for="textarea1">Tell us a Story</label>
		        </div>
		        <div class="input-field">
		          <input type="submit" value="Add Story" class="waves-effect waves-light btn">
		        </div>
    		</form>
    	</div>
    </div>
<% include partials/footer.ejs %>